<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <footer>
      <div class="card w-64 h-66 flex flex-col items-center justify-center">
        <img [src]="manager.photo" alt="fcManager.name" class="w-46 h-46">
        <div class="container text-center">
          <div class="inline-flex items-center gap-1.5">
            <h4>{{manager.name}}</h4>
            <p>{{manager.surname}}</p>
          </div>
          <p clas="p-9"><b>{{manager.position}}</b></p>
        </div>
      </div>
      <button>Replace</button>
      <button>Delete</button>
    </footer>
    </div>
  </div>
</div>






